.categoriesSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  color: #fff;
  text-align: center;
}

.learnTitle {
  font-size: 26;
  font-weight: 500;
  margin-bottom: 2.5rem;
  letter-spacing: 0.1em;
}

.categoriesGrid {
  display: grid;
  gap: 1rem;
  width: 100%;
  max-width: 800px;
  grid-template-columns: repeat(6, 1fr);
}

.categoryCard {
  background-color: rgba(29, 29, 29, 0.7);
  padding: 1.5rem;
  border-radius: 8px;
  font-size: 19;
  font-weight: 400;
  color: #a5a5a5;
  text-align: center;
  transition:
    background-color 0.2s,
    border-color 0.2s,
    transform 0.2s;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  font-family: var(--font-kode-mono);
}

.categoryCard:hover {
  background-color: rgba(30, 30, 30, 0.9);
  border: 1px solid;
  border-color: rgb(2, 196, 223);
  transform: translateY(3px);
}

/* Grid Item Placement */

/* Row 1 */
.categoryCard:nth-child(1) {
  /* OPERATING SYSTEMS */
  grid-column: span 3/5;
}

.categoryCard:nth-child(2) {
  /* OSINT */
  grid-column: span 1;
}

/* Row 2 */
.categoryCard:nth-child(3) {
  /* WEB EXPLOITATION */
  grid-column: span 3;
}

.categoryCard:nth-child(4) {
  /* BINARY EXPLOITATION */
  grid-column: span 3;
}

/* Row 3 */
.categoryCard:nth-child(5) {
  /* AND SO MUCH MORE! */
  grid-column: span 6;
  padding: 1.75rem;
  justify-self: center;
}
